---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Interactive Comments Section">
  <main
    class="min-w-screen min-h-screen bg-back container mx-auto px-4 flex justify-start items-center flex-col my-10"
  >
    <h1>Interactive Comments Section</h1>
  </main>
</Layout>
