---
import Comment from "../components/Comment.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Interactive Comments Section">
  <main
    class="min-w-screen min-h-screen bg-back container mx-auto px-4 flex justify-start items-center flex-col my-10"
  >
    <h1>Interactive Comments Section</h1>
    <!-- <Comment
      content="Hello gaus from this comment component"
      name="ahmedmohamed"
      createdAt="2 days ago"
      image="https://cdn-icons-png.flaticon.com/128/4140/4140048.png"
      score={10}
      isAdmin={true}
    /> -->
  </main>
</Layout>
